#image-list {
    margin: auto;
    position: relative;
    margin-top: 46px;
}
@media screen and (max-width: 360px) {
    #image-list {
        margin: 0;
        position: relative;
        margin-top: 46px;
    }
}

.box_pc {
    float: left;
    background: transparent;
    border-color: transparent;
    margin-bottom: 30px;
    border: none;
    padding: 0px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.box_pc>a {
    display: block;
    position: relative;
}

.box_pc img {
    display: block;
    border: none;
    padding: 0px;
    margin: 0px;
}

.box_pc img.lazyload {
    transition: all 0.5s ease !important;
}

.box_pc img.lazyload:hover {
    transform: scale(0.98, 0.98);
    border-radius: 16px;
}

.box {
    float: left;
    background: transparent;
    border-color: transparent;
    margin-bottom: 30px;
    border: none;
    padding: 0px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.box_d {
    float: left;
    background: transparent;
    border-color: transparent;
    margin-bottom: 30px;
    border: none;
    padding: 0px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 246px;
    position: absolute;
    left: 0%;
    top: 0px;
}

.box>a {
    display: block;
    position: relative;
}

.box img {
    display: block;
    border: none;
    padding: 0px;
    margin: 0px;
}

.box img.lazyload {
    transition: all 0.5s ease !important;
}

.box img.lazyload:hover {
    transform: scale(0.98, 0.98);
    border-radius: 16px;
}

.box .box-time-icon {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 20%;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    opacity: 0.9;
    padding: 8px;
    box-sizing: content-box;
    display: none;
    cursor: pointer;
}

.box:hover .box-time-icon {
    display: block;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.box .box-time-icon:hover {
    /* -webkit-animation-name: rubberBand;
    animation-name: rubberBand; */
}

.box .box-time-icon img {
    width: 100px;
    height: 50px;
}

.box .box-time-icon .collection-icon {
    display: none;
}

.box .box-time-icon .collection-icon-active {
    display: block;
}

.box .box-time-icon.animated .collection-icon {
    display: block;
}

.box .box-time-icon.animated .collection-icon-active {
    display: none;
}

.box .box-collection-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0.9;
    background: #0a0a0a;
    border-radius: 21px;
    border-radius: 21px;
    padding: 8px;
    box-sizing: content-box;
    display: none;
    cursor: pointer;
}

.box:hover .box-collection-icon {
    display: block;
    /* -webkit-animation-name: rubberBand;
    animation-name: rubberBand; */
}

.box .box-collection-icon:hover {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand
}

.box .box-collection-icon img {
    width: 20px;
    height: 20px;
}

.box .box-collection-icon .collection-icon {
    display: none;
}

.box .box-collection-icon .collection-icon-active {
    display: block;
}

.box .box-collection-icon.animated .collection-icon {
    display: block;
}

.box .box-collection-icon.animated .collection-icon-active {
    display: none;
}

.box .box-download-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0.9;
    background: #0a0a0a;
    border-radius: 21px;
    border-radius: 21px;
    padding: 8px;
    box-sizing: content-box;
    display: none;
    cursor: pointer;
}

.box:hover .box-download-icon {
    display: block;
    /* -webkit-animation-name: fadeIn;
    animation-name: fadeIn; */
}

.box .box-download-icon:hover {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

.box .box-download-icon img {
    width: 20px;
    height: 20px;
}

.empty-data {
    padding-top: 168px;
    font-size: 13px;
    color: #B5B4C3;
    letter-spacing: 0;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
    text-align: center;
}

.empty-data img {
    width: 212px;
    height: 108px;
}

.empty-data .empty-data-title {
    font-size: 16px;
    color: #B5B4C3;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
    margin-top: 34px;
}

.empty-data .empty-data-desc {
    font-size: 13px;
    color: #4D4D65;
    letter-spacing: 0;
    line-height: 13px;
    margin-top: 13px;
}

/*æœç´¢é¡µé¢*/

.search-total {
    padding-top: 49px;
    font-size: 14px;
    letter-spacing: 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
    box-sizing: content-box;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #B5B4C3;
    letter-spacing: 0;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
}